<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>258838862792-grqmo5jjiv50rr3qg2cmmbq1noh3980f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.258838862792-grqmo5jjiv50rr3qg2cmmbq1noh3980f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>258838862792-ktg5k2rstc19vm7mscnq29n7tiatk5vi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBAgU5t4F85GzH8G_N-TAKLBTBAT3ze4-8</string>
	<key>GCM_SENDER_ID</key>
	<string>258838862792</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cray.ftbloclinesdk</string>
	<key>PROJECT_ID</key>
	<string>my-gunpla</string>
	<key>STORAGE_BUCKET</key>
	<string>my-gunpla.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258838862792:ios:cd31cb33ed2af99f983efd</string>
	<key>DATABASE_URL</key>
	<string>https://my-gunpla.firebaseio.com</string>
</dict>
</plist>